body {
	background-color: rgb(255,196,37);
	font-family: Arial;
	overflow:hidden;}

table {
	background-color: rgb(255,255,255);
	}
th,td {
	padding: 3px 24px 3px 24px;}
th.title {
	text-transform: uppercase;
	text-align: center;
	}
th.period {
	text-align: left;
	}
tr.even {
	background-color: rgb(232,218,239);
	}
td {
	text-align: center;
	}
tr.title {
	text-align: center;}