body {
	background-color: rgb(255,196,37);
	font-family: Arial;}

table {
	background-color: rgb(255,255,255);
	}
th,td {
	padding: 3px 12px 3px 12px;}
th.title {
	text-transform: uppercase;
	text-align: center;
	}
th.period {
	text-align: left;
	}
tr.even {
	background-color: rgb(225,225,225);
	}
td {
	text-align: center;
	}
tr.title {
	text-align: center;}